$bg-darkGreen: #79d279;

* {
	font-family: 'nunito', sans-serif;
}
body {
	background: LightBlue;
	.caja-container-modal-hojaInforme {
		width: 100%;
		height: 100vh;

		display: grid;
		.container-modal-hojaInforme {
			justify-self: center;
			margin: 1% 0 50px 0;
			width: 90%;
			height: 80%;

			display: grid;
			grid-template-columns: repeat(10, auto);
			grid-auto-rows: min-content;
			// TITULO DEL MODAL
			.container-title-modal-hojaInforme {
				box-shadow: 0 -5px 10px #00000079;
				padding: 0 10px;
				margin-bottom: 0;
				background: $bg-darkGreen;
				justify-self: center;
				place-items: center;
				text-align: center;
				justify-content: space-between;
				width: 200px;
				height: 50px;
				border-top: 3px solid #aaa;
				border-left: 3px solid #aaa;
				border-right: 3px solid #aaa;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				z-index: 2;

				display: flex;
				grid-column: 1/11;
				grid-row: 1/2;
				h3 {
					font-size: 1.3rem;
					color: #fff;
				}
				svg {
					fill: #fff;
					width: 40px;
					height: 40px;
				}
			}
			// CONTENEDOR DE TODO
			.container-hojaInforme {
				// padding: 0 10px;
				margin-top: 0;
				box-shadow: 0 0 10px #00000079;
				border: 3px solid #aaa;
				width: 100%;
				height: 500px;
				background: $bg-darkGreen;
				border-radius: 10px;
				overflow: auto;

				display: grid;
				grid-column: 1/11;
				grid-row: 2/3;
				grid-template-columns: repeat(10, auto);
				grid-template-rows: repeat(10, auto);
				&::-webkit-scrollbar {
					width: 10px;
					background: #aaaaaa;
				}
				&::-webkit-scrollbar-thumb {
					justify-self: center;
					width: 8px;
					border-radius: 10px;
					background-color: lightgray;
				}
				// Contenedor para introducir el mes  año de servicio en el campo
				.container-mesAño {
					justify-content: space-between;
					align-items: center;
					gap: 15px;

					display: flex;
					grid-column: 1/11;
					grid-row: 1/2;
					.container-mes {
						margin: 4px;
						width: 130%;
						position: relative;

						display: grid;
						// contenedor del nombre para seleccionar el mes mediante una flecha hacia abajo y para el input
						div {
							align-items: center;
							position: relative;

							display: flex;
							// titulo 'mes'
							h3 {
								font-weight: 800;
								color: #fff;
								font-size: 1.2rem;
								margin: 0 3px 0 0;
							}
							span {
								border-radius: 3px;
								background: #fff;
								width: 100%;
								justify-content: space-between;
								align-items: center;

								display: flex;
								input {
									color: #404040;
									font-weight: 800;
									pointer-events: none;
									width: 100%;
									height: 20px;
									background: none;
									border-radius: 5px;
									outline: none;
									border: none;
								}
								span {
									width: 15px;
									height: 15px;
									border: 1px solid gray;
									margin: 0 2px;
									&:active {
										fill: #606060;
										background: gainsboro;
									}

									svg {
										width: 100%;
										height: 100%;
										fill: #404040;
										transition: .3s;
										&.rotate {
											transform: rotateZ(180deg);
										}
									}
								}
							}
						}
						ol {
							position: absolute;
							list-style: none;
							padding: 10px;
							margin-top: 33px;
							margin-right: 0;
							right: -3px;
							background: #fff;
							z-index: 10;
							width: max-content;
							border-bottom-left-radius: 5px;
							border-bottom-right-radius: 5px;
							border-top-left-radius: 5px;
							z-index: 12;
							opacity: 0;
							pointer-events: none;

							display: grid;
							&::before {
								border-bottom-right-radius: 50px;
								content: "";
								background: #fff;
								width: 15px;
								height: 15px;
								transform: rotateZ(45deg);
								position: absolute;
								top: -7px;
								right: 4px;
								z-index: 1;

								display: grid;
							}
							&.active {
								opacity: 1;
								pointer-events: visible;
							}
							li {
								font-weight: 900;
								cursor: pointer;
								border-top: 1px solid #909090;
								color: #303030;
								&:active {
									background: #505050;
								}
								&::selection {
									background: none;
								}
							}
						}
					}
					.container-año {
						width: 100%;

						display: grid;
						div {
							align-items: center;

							display: flex;
							margin-right: 0;
							width: 100%;
							h3 {
								color: #fff;
								margin-right: 3px;
							}
							input {
								color: #404040;
								font-weight: 800;
								font-size: 1rem;
								width: 100%;
								height: 20px;
								background: #fff;
								border-radius: 5px;
								outline: none;
								border: none;
								padding: 3px;
								margin-right: 5px;
								&::-webkit-inner-spin-button,
								::-webkit-outer-spin-button {
									-webkit-appearance: none;
								}
							}
						}
					}
				}
				// CONTENEDOR PARA LAS HORAS DE SERVICIO EN EL CAMPO
				.container-servicioCampo {
					margin: 10px;
					place-self: center;
					border-radius: 25px;
					box-shadow: 0 0 5px #fff;
					gap: 5px;
					width: 90%;
					height: min-content;
					padding: 10px 10px 0 10px;

					display: grid;
					grid-column: 1/11;
					grid-row: 2/3;
					grid-template-columns: repeat(10, auto);
					grid-template-rows: repeat(3, auto);
					div {
						margin-bottom: 0;
						align-items: center;
						justify-self: start;
						border-radius: 10px;
						background: #aaaaaa;
						height: 90%;
						align-self: center;
						box-shadow: 0 0 2px #000;

						display: flex;
						grid-column: 1/11;
						h3 {
							font-size: 1rem;
							margin-left: 5px;
							font-weight: 900;
							color: #fff;
						}
						input {
							margin-left: 5px;
							background: $bg-darkGreen;
							border: none;
							outline: none;
							color: #fff;
							border-bottom: 1px solid rgba(255, 255, 255, 0.746);
							width: 32px;
							height: 25px;
							&::-webkit-inner-spin-button,
							::-webkit-outer-spin-button {
								-webkit-appearance: initial;
							}
							&::placeholder {
								color: rgba(245, 245, 245, 0.746);
							}
						}
					}
					.container-botones {
						width: 100%;
						margin-bottom: 5px;
						justify-content: space-between;
						background: none;
						box-shadow: none;

						grid-column: 1/11;
						grid-row: 10/11;
						button {
							border-radius: 5px;
							border: none;
							outline: none;
							cursor: pointer;
							color: #fff;
						}

						.btn-Historial {
							background: #3399ff;
							width: 70px;
							height: 35px;
							transition: .5s;
							opacity: 0;
							pointer-events: none;
							&:active {
								background: #6699ff;
							}
						}
						.btn-guardar {
							width: 100%;
							height: 100%;
							background: #669999;
							// background: #004de6;
							border-radius: 5px;
							width: 70px;
							height: 50px;
							border: none;
							outline: none;
							border-radius: 5px;
							cursor: pointer;
							transition: .5s;
							&:active {
								background: #6699ff;
							}
						}
						.btn-verMas {
							background: #3399ff;
							width: 70px;
							height: 35px;
							transition: .5s;
							opacity: 0;
							pointer-events: none;
							
							&:active {
								background: #6699ff;
							}
						}
					}
				}
				// ==================================================================================================
				// =======================================Carpetas de los informes===================================
				// ==================================================================================================
				// Contenedor para guardar datos en carpetas
				.container-containerResultadoMes {
					overflow: hidden;
					justify-self: center;
					width: 100%;
					height: 250px;
					margin: 0;
					padding: 0;
					background: #339966;

					display: grid;
					grid-column: 1/11;
					grid-row: 3/4;
					grid-template-columns: repeat(8, auto);
					grid-template-rows: repeat(8, auto);
					&::-webkit-scrollbar {
						height: 5px;
						border-radius: 10px;
						background: #aaaaaa;
					}
					&::-webkit-scrollbar-thumb {
						justify-self: center;
						background-color: lightgray;
					}
					// Contenedor para seleccionar el año para mostrar todas las carpetas de todos los meses de servicio trabajado para ese año
					.container-selection-filesAño {
						background: #339966;
						text-align: center;
						height: 80%;
						margin: 0 !important;
						border-bottom: 2px solid darkgray;

						display: grid;
						grid-column: 1/9;
						grid-row: 1/2;
						div {
							align-items: center;
							justify-self: center;

							display: flex;
							h3 {
								color: #fff;
							}
							.content-seleccionAño {
								margin-left: 10px;
								width: 100px;
								padding: 0 5px;
								border-radius: 5px;
								place-items: center;
								background-color: #fff;
								justify-content: space-between;
								position: relative;

								display: flex;
								input {
									text-decoration: underline 1px #303030;
									pointer-events: none;
									width: 60%;
									border: none;
									outline: none;
									padding: 5px;
									color: #303030;
									font-weight: 900;

									&::placeholder {
										color: #303030;
									}
								}
								span {
									border-radius: 3px;
									border: 1px solid #303030;
									width: 15px;

									display: grid;
									&:active {
										background: #9a9a9a;
									}
									svg {
										place-self: center;
										fill: #303030;
									}
								}
								ol {
									list-style: none;
									justify-self: center;
									width: 40px;
									border-bottom-left-radius: 5px;
									border-bottom-right-radius: 5px;
									background: #fff;
									position: absolute;
									margin-top: 160px;
									margin-left: 55px;
									padding: 5px;
									opacity: 0;
									pointer-events: none;

									display: grid;
									&.active {
										opacity: 1;
										pointer-events: visible;
									}
									li {
										font-weight: 900;
										cursor: pointer;
										justify-self: center;
										color: #303030;
										border-top: 1px solid #303030;
										&:active {
											background: #9a9a9a;
										}
									}
								}
							}
						}
					}

					// CARPETAS DE LOS RESULTADOS DEL MES EN EN CAMPO
					.container-foldersMonths {
						justify-self: center;
						padding: 0 0 15px 0;
						width: 100%;
						height: 200px;
						overflow-y: hidden;
						overflow-x: auto;

						display: flex;
						grid-column: 1/9;
						grid-row: 2/9;
						&::-webkit-scrollbar {
							background: #9a9a9a;
							height: 4px;
						}
						&::-webkit-scrollbar-thumb {
							background: rgba(250, 250, 250, 0.863);
						}
						// Folders
						div {
							margin: 0 35px;
							width: 200px;
							height: 155px;

							display: grid;
							// Title Month
							h3 {
								color: #9a9a9a;
								margin: 0 0 0 10%;
								font-size: 1rem;
								width: max-content;
								padding: 0 5px;
								background: #fff0b3;
								border-top-left-radius: 10px;
								border-top-right-radius: 10px;
							}
							// Content Files
							div {
								margin: 0;
								border-radius: 5px;
								background: #fff0b3;

								display: grid;
								// Files
								div {
									width: 90%;
									height: 5px;
									margin: 0;
									align-self: center;
									align-items: center;
									justify-self: center;
									justify-content: space-between;
									background: #79d2a6;

									display: flex;
									h2 {
										padding: 0 5px;
										border-radius: 25px;
										background: #79d2a6;
										text-align: center;
										font-size: .9rem;
										font-weight: 900;
										color: #fff;
									}
									h1 {
										padding: 0 5px;
										border-radius: 25px;
										background: #79d2a6;
										font-size: .9rem;
										font-weight: 900;
										color: #fff;
									}
								}
							}
						}
					}
				}

				// ========================================================================================================
				// =======================================Contenedor Popup=================================================
				// ========================================================================================================
				.contenedor-popup {
					justify-self: center;
					backdrop-filter: blur(5px);
					z-index: 50;
					width: 100%;
					height: 0%;
					transform: scale(1);
					transition: .5s;
					opacity: 0;
					pointer-events: none;

					display: grid;
					grid-column: 1/11;
					grid-row: 1/11;
					&.active {
						width: 100%;
						height: 100%;
						opacity: 1;
						pointer-events: visible;
						.content-popup {
							margin-top: 150px;
						}
					}
					div {
						font-size: 1rem;
						border-radius: 10px;
						justify-self: center;
						background-color: #fff;
						width: 80%;
						margin-top: -500px;
						height: max-content;
						padding: 5px 10px;
						transition: .5s;

						display: grid;
						svg {
							justify-self: center;
							width: 40px;
							fill: #ff0000;
							animation: entradaLogo .5s ease .5s forwards;
							opacity: 0;
							margin-bottom: 5px;
							@keyframes entradaLogo {
								0% {
									transform: rotateZ(15deg);
								}
								25% {
									transform: rotateZ(-15deg);
								}
								100% {
									transform: rotateZ(0deg);
									opacity: 1;
								}
							}
						}
						h3 {
							color: #ff0000;
							text-align: center;
							animation: entradaTitulo ease .5s forwards;
							opacity: 0;
							transform: translateY(-25px);
							@keyframes entradaTitulo {
								100% {
									transform: translateY(0);
									opacity: 1;
								}
							}
						}
						button {
							border: none;
							border-radius: 5px;
							padding: 5px 10px;
							color: #fff;
							justify-self: center;
							background: #0073e6;
							cursor: pointer;
							&:active {
								background: #0073e699;
							}
						}
					}
				}
			}
		}
	}

	// @media (max-width: 800px) {
	// 	.caja-container-modal-hojaInforme {
	// 		width: 100%;
	// 		height: 100vh;

	// 		display: grid;
	// 		.container-modal-hojaInforme {
	// 			justify-self: center;
	// 			align-self: center;
	// 			width: 75%;
	// 			height: 50%;

	// 			display: grid;
	// 			grid-template-columns: repeat(10, auto);
	// 			grid-template-rows: repeat(10, auto);
	// 			.container-title-modal-hojaInforme {
	// 				background: $color-steelBlue;
	// 				place-self: center;
	// 				justify-content: space-between;
	// 				width: 30%;
	// 				height: 50%;
	// 				border-top: 3px solid #aaaaaa;
	// 				border-top-left-radius: 10px;
	// 				border-top-right-radius: 10px;

	// 				display: flex;
	// 				grid-column: 1/11;
	// 				grid-row: 1/2;
	// 				h3 {
	// 					color: #fff;
	// 					text-align: center;
	// 				}
	// 				svg {
	// 					fill: #fff;
	// 					width: 40px;
	// 				}
	// 			}
	// 			.container-hojaInforme {
	// 				width: 100%;
	// 				height: 100%;
	// 				background: $color-steelBlue;

	// 				display: grid;
	// 				grid-column: 1/11;
	// 				grid-row: 2/11;
	// 			}
	// 		}
	// 	}
	// }
}
