$bg-darkGreen: #79d279;

* {
	font-size: 18px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
}
body {
	margin: 0;
	padding: 0;
	background: #94b8b8;
	width: 100%;
	height: 100%;
	place-items: center;

	display: grid;
	grid-template-columns: repeat(8, auto);
	grid-template-rows: repeat(8, auto);
	// Formateo de todos los botones
	button {
		&::selection {
			background: none;
		}
	}
	//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Informe¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Informe¦¦¦¦¦¦¦¦¦Informe¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Informe¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Informe¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Informe¦¦¦¦¦¦¦¦¦Informe¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Informe¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	.container-hojaInforme {
		place-self: center;
		width: 90%;
		height: 90%;
		transition: 1s all cubic-bezier(0.455, 0.03, 0.515, 0.955);

		display: grid;
		grid-column: 1/9;
		grid-row: 1/9;
		grid-template-columns: repeat(8, auto);
		grid-template-rows: 1;
		&.off {
			filter: blur(150px);
			transition: .5s;
			pointer-events: none;
		}
		// Titulo
		.title-hojaInforme {
			box-shadow: 0 -10px 10px #00000030;
			padding: 0 5px;
			background: $bg-darkGreen;
			justify-self: center;
			place-items: center;
			text-align: center;
			width: max-content;
			height: min-content;
			border-top: 3px solid #aaa;
			border-left: 3px solid #aaa;
			border-right: 3px solid #aaa;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
			z-index: 2;

			display: flex;
			grid-column: 1/9;
			grid-row: 1/2;
			svg {
				margin-right: -15px;
				padding: 5px;
				background: rgb(0, 128, 255);
				background: linear-gradient(
					90deg,
					rgba(0, 128, 255, 1) 0%,
					rgba(94, 171, 249, 1) 50%,
					rgba(172, 212, 251, 1) 100%
				);
				border-radius: 50px;
				fill: #fff;
				width: 45px;
				height: 45px;
				z-index: 10;
			}
			h3 {
				border-radius: 25px;
				padding-left: 20px;
				padding-right: 5px;
				height: min-content;
				align-self: center;
				background: rgb(0, 128, 255);
				background: linear-gradient(
					90deg,
					rgba(172, 212, 251, 1) 0,
					rgba(94, 171, 249, 1) 50%,
					rgba(0, 128, 255, 1) 100%
				);
				font-size: 1.3rem;
				color: #fff;
			}
		}
		.content-hojaInforme {
			margin-top: -2px;
			box-shadow: 0 0 10px #00000079;
			border: 3px solid #aaa;
			width: 100%;
			height: min-content;
			background: $bg-darkGreen;
			border-radius: 10px;
			overflow: hidden;
			padding: 0;

			display: grid;
			grid-column: 1/9;
			grid-row: 2/3;
			grid-template-columns: repeat(10, auto);
			grid-template-rows: repeat(10, auto);

			//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
			//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Guia¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
			//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Guia¦¦¦¦¦¦¦Guia¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
			//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Guia¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Guia¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
			//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Guia¦¦¦¦¦¦¦Guia¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
			//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Guia¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
			//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
			.container-guia {
				background: #00000050;
				backdrop-filter: blur(3px);
				width: 100%;
				height: 100%;
				z-index: 50;
				pointer-events: none;
				opacity: 0;
				transition: .5s;

				display: grid;
				grid-column: 1/11;
				grid-row: 1/11;
				&.active {
					pointer-events: visible;
					opacity: 1;
					.content-guia {
						filter: blur(0);
					}
				}
				.content-guia {
					filter: blur(150px);
					background: #fff;
					width: 70%;
					height: 75%;
					place-self: center;
					overflow: auto;
					padding: 0 10px;
					border-radius: 10px;
					position: relative;
					transition: .5s;

					display: grid;
					grid-auto-rows: min-content;
					h3 {
						font-weight: 900;
						justify-self: center;
						height: min-content;
						margin: 0;
					}
					.line-title {
						margin: 0;
						justify-self: center;
						width: 80%;
						height: 1px;
						border: none;
						outline: none;
						background: #000;
					}
					p {
						margin-top: 0;
					}
					.line-parragraph {
						width: 100%;
						height: 2px;
						background: #000;
						border: none;
						outline: none;
						justify-self: center;
						margin-top: 0;
					}
					span {
						position: absolute;
						justify-self: center;
						align-self: flex-end;
						background: #9a9a9a;
						width: 100%;

						display: grid;
						button {
							place-self: center;
							margin: 3px 0;
							border: none;
							outline: none;
							width: 30%;
							background: #0073e6;
							border-radius: 5px;
							color: #fff;
							&:active {
								background: #0466c9;
							}
						}
					}
				}
			}
			// Contenedor para seleccionar el mes  año de servicio en el campo
			.container-mesAño {
				justify-content: space-between;
				align-items: center;
				gap: 15px;

				display: flex;
				grid-column: 1/11;
				grid-row: 1/2;
				.container-mes {
					margin: 4px;
					width: 130%;
					position: relative;

					display: grid;
					// contenedor del nombre para seleccionar el mes mediante una flecha hacia abajo y para el input
					div {
						align-items: center;
						position: relative;

						display: flex;
						// titulo 'mes'
						h3 {
							font-weight: 800;
							color: #fff;
							font-size: 1.2rem;
							margin: 0 3px 0 0;
						}
						span {
							border-radius: 3px;
							background: #fff;
							width: 100%;
							justify-content: space-between;
							align-items: center;

							display: flex;
							input {
								color: #404040;
								font-weight: 800;
								pointer-events: none;
								width: 100%;
								height: 20px;
								background: none;
								border-radius: 5px;
								outline: none;
								border: none;
							}
							span {
								width: 20px;
								height: 20px;
								border: 1px solid gray;
								margin: 0 2px;
								&:active {
									fill: #606060;
									background: gainsboro;
								}

								svg {
									width: 100%;
									height: 100%;
									fill: #404040;
									transition: .3s;
								}
							}
						}
					}
					ol {
						position: absolute;
						list-style: none;
						padding: 10px;
						margin-top: 35px;
						margin-right: 0;
						right: -3px;
						background: #fff;
						z-index: 10;
						width: max-content;
						border-radius: 5px;
						z-index: 12;
						opacity: 0;
						pointer-events: none;
						transition: .5s all;
						filter: blur(150px);

						display: grid;
						&::before {
							border-bottom-right-radius: 50px;
							content: "";
							background: #fff;
							width: 15px;
							height: 15px;
							transform: rotateZ(45deg);
							position: absolute;
							top: -5px;
							right: 5px;
							z-index: 1;

							display: grid;
						}
						&.active {
							filter: blur(0);
							opacity: 1;
							pointer-events: visible;
						}
						li {
							font-weight: 900;
							cursor: pointer;
							border-top: 1px solid #909090;
							color: #303030;
							&:active {
								background: #505050;
							}
							&::selection {
								background: none;
							}
						}
					}
				}
				.container-año {
					width: 100%;

					display: grid;
					div {
						align-items: center;

						display: flex;
						margin-right: 0;
						width: 100%;
						h3 {
							color: #fff;
							margin-right: 3px;
						}
						input {
							color: #404040;
							font-weight: 800;
							font-size: 1rem;
							width: 100%;
							height: 20px;
							background: #fff;
							border-radius: 5px;
							outline: none;
							border: none;
							padding: 3px;
							margin-right: 5px;
							&::-webkit-inner-spin-button,
							::-webkit-outer-spin-button {
								-webkit-appearance: none;
							}
						}
					}
				}
			}
			// CONTENEDOR PARA LAS HORAS DE SERVICIO EN EL CAMPO
			.container-servicioCampo {
				margin: 10px;
				padding: 10px;
				place-self: center;
				border-radius: 25px;
				box-shadow: 0 0 5px #fff;
				gap: 5px;
				width: 90%;
				height: min-content;

				display: grid;
				grid-column: 1/11;
				grid-row: 2/3;
				grid-template-columns: repeat(10, auto);
				grid-template-rows: repeat(3, auto);
				div {
					margin-bottom: 0;
					align-items: center;
					justify-self: start;
					border-radius: 10px;
					background: #aaaaaa;
					width: max-content;
					height: 90%;
					align-self: center;
					box-shadow: 0 0 2px #000;

					display: flex;
					grid-column: 1/11;
					h3 {
						font-size: 1rem;
						margin-left: 5px;
						font-weight: 900;
						color: #fff;
					}
					input {
						margin-left: 5px;
						background: $bg-darkGreen;
						border: none;
						outline: none;
						color: #fff;
						border-bottom: 1px solid rgba(255, 255, 255, 0.746);
						width: 40px;
						height: 25px;
						&::-webkit-inner-spin-button,
						::-webkit-outer-spin-button {
							-webkit-appearance: initial;
						}
						&::placeholder {
							color: rgba(245, 245, 245, 0.746);
						}
					}
				}
			}
			.container-botones {
				width: 100%;
				justify-content: space-between;
				border-radius: 5px;
				background: none;
				box-shadow: none;
				box-shadow: 0 0 10px #00000025;
				background: #ffffff50;
				margin: 5px 0 0 0;
				height: 40px;

				display: flex;
				grid-column: 1/11;
				grid-row: 10/11;
				button {
					align-self: center;
					border-radius: 5px;
					height: 35px;
					border: none;
					outline: none;
					cursor: pointer;
					margin: 0 5px;
					color: #fff;
				}

				.btn-guia {
					background: #3399ff;
					height: 35px;
					&:active {
						background: #2e88e2;
					}
				}
				.btn-Historial {
					background: #3399ff;
					opacity: 0;
					pointer-events: none;
					&:active {
						background: #6699ff;
					}
				}
				.btn-guardar {
					background: #47d147;
					// background: #004de6;
					&:active {
						background: #6699ff;
					}
				}
				.btn-misHoras {
					background: #9966ff;
					width: max-content;

					&:active {
						background: #884ff8;
					}
				}
			}
			//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
			//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Popup¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
			//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Popup¦¦¦¦¦¦¦Popup¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
			//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Popup¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Popup¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
			//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Popup¦¦¦¦¦¦¦Popup¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
			//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Popup¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
			//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
			.contenedor-popup {
				justify-self: center;
				backdrop-filter: blur(5px);
				z-index: 50;
				width: 100%;
				height: 100%;
				transition: .5s;
				opacity: 0;
				pointer-events: none;

				display: grid;
				grid-column: 1/11;
				grid-row: 1/11;
				&.active {
					width: 100%;
					height: 100%;
					opacity: 1;
					pointer-events: visible;
					.content-popup {
						margin-top: 150px;
					}
				}
				// content
				.content-popup {
					font-size: 1rem;
					border-radius: 10px;
					justify-self: center;
					background-color: #fff;
					width: 80%;
					margin-top: -500px;
					height: max-content;
					padding: 5px 10px;
					transition: .5s cubic-bezier(.39,.47,.02,1.48);

					display: grid;
					.svg-error {
						position: absolute;
						justify-self: center;
						margin-top: 25px;
						width: 40px;
						fill: #ff0000;
						opacity: 0;
						margin-bottom: 5px;
						&.active {
							opacity: 1;
						}
					}
					.svg-correcto {
						justify-self: center;
						width: 40px;
						fill: #00b300;
						opacity: 0;
						margin-bottom: 5px;
						&.active {
							opacity: 1;
						}
					}
					h3 {
						color: #ff0000;
						text-align: center;
						animation: entradaTitulo ease .5s forwards;
						opacity: 0;
						transform: translateY(-25px);
						@keyframes entradaTitulo {
							100% {
								transform: translateY(0);
								opacity: 1;
							}
						}
					}
					button {
						border: none;
						border-radius: 5px;
						padding: 5px 10px;
						color: #fff;
						justify-self: center;
						background: #0073e6;
						cursor: pointer;
						&:active {
							background: #0073e699;
						}
					}
				}
			}
		}
	}
	//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mis Horas¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mis Horas¦¦¦¦¦¦¦Mis Horas¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mis Horas¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mis Horas¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mis Horas¦¦¦¦¦¦¦Mis Horas¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mis Horas¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	.container-files {
		place-self: center;
		width: 90%;
		height: 90%;
		filter: blur(100px);
		pointer-events: none;
		opacity: 0;
		transition: .5s cubic-bezier(1, 0, 0, 1);

		display: grid;
		grid-column: 1/9;
		grid-row: 1/9;
		grid-template-columns: repeat(8, auto);
		grid-template-rows: repeat(8, min-content);
		&.on {
			filter: blur(0);
			transform: translateX(0);
			opacity: 1;
			transition: 1s;
			pointer-events: visible;
		}
		//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Titulo Carpetas¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
		.title-files {
			justify-self: center;
			align-items: center;
			text-align: center;
			padding: 5px 10px;
			width: max-content;
			height: min-content;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border-top: 2px solid darkgray;
			border-left: 2px solid darkgray;
			border-right: 2px solid darkgray;
			background: #339966;

			display: flex;
			grid-column: 1/9;
			grid-row: 1/2;
			h3 {
				margin: 0;
				align-self: center;
				color: #fff;
				font-size: 1.5rem;
				font-weight: 900;
				background: #3399ff;
				border-radius: 25px;
				padding: 0 25px 0 10px;
			}
			svg {
				background: #3399ff;
				padding: 5px;
				border-radius: 50px;
				margin-left: -15px;
				fill: #fff;
				width: 40px;
			}
		}
		.content-files {
			overflow: hidden;
			border-radius: 15px;
			border: 2px solid darkgray;
			background: #339966;
			place-self: center;
			width: 100%;
			height: 100%;

			display: grid;
			grid-column: 1/9;
			grid-row: 2/9;
			grid-template-columns: repeat(8, auto);
			grid-template-rows: repeat(8, auto);
			// Popup
			.container-popupFiles {
				width: 100%;
				height: 100%;
				justify-items: center;
				align-items: center;
				backdrop-filter: blur(5px);
				z-index: 100;
				opacity: 0;
				pointer-events: none;
				transition: .5s;

				display: grid;
				grid-column: 1/9;
				grid-row: 1/9;
				grid-template-columns: 1;
				grid-template-rows: 1;
				&.active {
					pointer-events: visible;
					opacity: 1;
					transition: .5s;
				}
				.content-popupFiles {
					background: #fff;
					padding: 10px;
					border-radius: 5px;
					transition: .5s;
					width: 60%;

					display: grid;
					grid-column: 1/3;
					grid-row: 1/3;
					&.off {
						backdrop-filter: blur(100px);
						opacity: 0;
						pointer-events: none;
						transition: .3s;
					}
					svg {
						fill: #ff5100;
						justify-self: center;
						width: 50px;
					}
					h3 {
						font-size: 1rem;
					}
					// Botones
					div {
						justify-content: space-between;

						display: flex;
						.btnAceptar-popup-misHoras {
							color: #fff;
							background: #0073e6;
							border: none;
							outline: none;
							border-radius: 5px;
							&:active {
								background: #094c8f;
							}
						}
						.btnCancelar-popup-misHoras {
							color: #fff;
							background: #9a9a9a;
							border: none;
							outline: none;
							border-radius: 5px;
							&:active {
								background: #585858;
							}
						}
					}
				}
			}
			.container-selection {
				align-items: center;
				justify-self: center;
				justify-items: center;
				width: 90%;
				padding: 0 0 10px 0;

				display: grid;
				grid-column: 1/9;
				grid-row: 1/2;
				grid-template-columns: repeat(8, auto);
				grid-template-rows: repeat(8, auto);
				h3 {
					color: #fff;
					font-weight: 900;
					text-align: center;
					margin: 0;

					grid-column: 1/9;
					grid-row: 1/2;
				}
				.content-selectionMes {
					width: max-content;
					height: 30px;
					border-radius: 50px;
					padding: 3px 10px;
					background: #fff;
					position: relative;
					transition: .5s;
					z-index: 100;

					display: flex;
					grid-column: 1/6;
					grid-row: 2/9;
					&.active {
						transition: .5s;
						border-bottom-right-radius: 0;
					}
					// Entrada de texto y botón
					input {
						align-self: center;
						width: 100px;
						border: none;
						outline: none;
						color: #303030;
						font-weight: 900;
						font-size: 1rem;
						pointer-events: none;
						&::placeholder {
							color: #909090;
							font-size: 1rem;
						}
					}
					span {
						align-self: center;
						cursor: pointer;
						padding: 0;
						width: 20px;
						height: 20px;
						border: 1px solid #303030;
						border-radius: 3px;
						svg {
							fill: #303030;
						}
						&:active {
							background: #79d2a6;
						}
					}
					// Lista de los Meses
					ol {
						width: min-content;
						list-style: none;
						position: absolute;
						background: #fff;
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
						padding: 5px;
						top: 12px;
						right: 0;
						opacity: 0;
						pointer-events: none;
						filter: blur(150px);
						transition: .5s;

						display: grid;
						&.active {
							filter: blur(0);
							pointer-events: visible;
							opacity: 1;
						}
						li {
							color: #303030;
							font-weight: 900;
							cursor: pointer;
							border-top: 1px solid #303030;
							&:active {
								background: #79d2a6;
							}
						}
					}
				}
				.content-seleccionAño {
					width: max-content;
					align-items: center;
					border-radius: 50px;
					height: 30px;
					padding: 3px 10px;
					background: #fff;
					position: relative;
					transition: .5s;

					display: flex;
					grid-column: 6/9;
					grid-row: 2/9;
					&.active {
						border-bottom-right-radius: 0;
					}
					input {
						pointer-events: none;
						width: 75px;
						height: 25px;
						border-radius: 50px;
						border: none;
						outline: none;
						padding: 5px;
						color: #303030;
						font-weight: 900;

						&::placeholder {
							color: #909090;
						}
					}
					span {
						cursor: pointer;
						padding: 0;
						width: 20px;
						height: 20px;
						border: 1px solid #303030;
						border-radius: 3px;
						svg {
							fill: #303030;
						}
						&:active {
							background: #79d2a6;
						}
					}
					ol {
						list-style: none;
						justify-self: center;
						width: 40px;
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
						background: #fff;
						position: absolute;
						top: 15px;
						margin-left: 67px;
						padding: 5px;
						opacity: 0;
						pointer-events: none;
						filter: blur(150px);
						transition: .5s;

						display: grid;
						&.active {
							filter: blur(0);
							opacity: 1;
							pointer-events: visible;
						}
						li {
							font-weight: 900;
							cursor: pointer;
							justify-self: center;
							color: #303030;
							border-top: 1px solid #303030;
							&:active {
								background: #9a9a9a;
							}
						}
					}
				}
			}
			// Contenedor Carpetas
			.container-foldersMonths {
				place-self: center;
				place-items: center;
				background: rgba(255, 255, 255, 0.500);
				padding: 0;
				border-radius: 5px;
				margin-bottom: 10px;
				width: 90%;
				height: 320px;
				overflow: hidden;

				display: grid;
				grid-column: 1/9;
				grid-row: 2/8;
				&::-webkit-scrollbar {
					background: #9a9a9a;
					height: 4px;
				}
				&::-webkit-scrollbar-thumb {
					background: rgba(250, 250, 250, 0.863);
				}
				// Folders
				div {
					margin: 0;
					width: 300px;
					height: 250px;

					display: grid;
					// Title Month
					h3 {
						color: #9a9a9a;
						margin: 0;
						font-size: 1rem;
						width: max-content;
						padding: 0 5px;
						background: #fff0b3;
						border-top-left-radius: 10px;
						border-top-right-radius: 10px;
					}
					// Content Files
					div {
						margin: 0;
						border-top-left-radius: none;
						border-top-right-radius: 5px;
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
						background: #fff0b3;

						display: grid;
						// Data
						div {
							width: 90%;
							height: 5px;
							margin: 0;
							align-self: center;
							align-items: center;
							justify-self: center;
							justify-content: space-between;
							background: #3399ff;

							display: flex;
							h2 {
								padding: 0 5px;
								border-radius: 25px;
								background: #3399ff;
								text-align: center;
								font-size: .9rem;
								font-weight: 900;
								color: #fff;
							}
							h1 {
								padding: 0 5px;
								border-radius: 25px;
								background: #3399ff;
								font-size: .9rem;
								font-weight: 900;
								color: #fff;
							}
						}
						.ajustes-misHoras {
							background: none;
							width: 90%;
							height: min-content;
							justify-content: space-between;
							justify-self: center;

							display: flex;
							button {
								color: #fff;
								border-radius: 5px;
								justify-self: center;
								border: none;
								outline: none;
							}
							.btn-eliminar-misHoras {
								background: #800;
								&:active {
									background: #8009;
								}
							}
							.btn-editar-misHoras {
								background: #00b300;

								display: none;
								&:active {
									background: #00b30099;
								}
							}

							.btn-verMas-misHoras {
								background: #669999;

								display: none;
								&:active {
									background: #66999999;
								}
							}
						}
					}
				}
			}
			// Boton recargar
			.btn-recharge {
				background: #6699ff;
				width: max-content;
				height: 35px;
				border: none;
				outline: none;
				border-radius: 5px;
				padding: 5px 10px;
				margin: 0 0 10px 25px;
				text-align: center;
				color: #fff;
				cursor: pointer;
				z-index: 30;

				grid-column: 1/9;
				grid-row: 8/9;
				&:active {
					background: #6699ff99;
				}
			}
			// Boton salir
			.btn-salir-misHoras {
				border: none;
				outline: none;
				background: #6699ff;
				width: max-content;
				height: 35px;
				border-radius: 5px;
				padding: 5px 10px;
				margin-bottom: 10px;
				justify-self: end;
				text-align: center;
				color: #fff;
				cursor: pointer;
				z-index: 30;
				margin-right: 25px;

				grid-column: 1/9;
				grid-row: 8/9;
				&:active {
					background: #6699ff99;
				}
				&:active {
					background: rgba(255, 255, 255, 0.300);
				}
			}
		}
	}
}
